<div class="container-fluid" *ngIf="showPage">
  <div class="card">
    <div class="card-header text-center">
      <h3>Bienvenido</h3>
    </div>
    <div class="card-body">
      <div class="col-12">
        <button class="default">Continuar</button>
        <button class="primary">Continuar</button>
        <button class="primary outline">Continuar</button>
        <button class="dark outline">Continuar</button>
        <button class="orange">Continuar</button>
        <button class="dark">Continuar</button>
        <button class="clear">Continuar</button>
      </div>
    </div>
  </div>
</div>
